<app-dashboard></app-dashboard>

<div class="container-fluid">

    <div class="row">
        <div *ngFor="let f of facturas; let i = index" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cards-margin animated bounceIn">
            <div class="tile">
                <div class="wrapper">
                    <div class="header">{{ f.data.producto }}</div>

                    <div class="descripcion">

                        <p>{{ f.data.descripcion }}</p>

                    </div>

                    <div class="detalles">
                        <div>
                            <strong>PRECIO</strong> {{ f.data.precio | currency:'CLP' }}
                        </div>
                        <div>
                            <strong>KILOS</strong> {{ f.data.kilos }} Kg
                        </div>
                        <div>
                            <strong>ESTADO</strong> {{ f.data.estado }}
                        </div>
                    </div>

                    <div class="detalles">
                        <div>
                            <strong>PRODUCTO</strong> {{ f.data.producto }}
                        </div>
                        <div>
                            <strong>UNIDADES</strong> {{ f.data.unidades }}
                        </div>
                        <div>
                            <strong>SKU FILE</strong> {{ f.data.url }}
                        </div>

                    </div>

                    <div class="footer">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" (click)="showFactura( f.codigo )">Modificar</button>
                        <button class="btn btn-sm btn-primary" (click)="utils.downloadPdf( f.data.url )"> Ver más</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteFactura( f.codigo, f.data.url )"> Eliminar </button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="fab" data-toggle="modal" data-target="#myModal" (click)="changeModo( 1, 0 )"> + </div>

    <!-- Modal Añadir-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Añadir Factura</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <form (ngSubmit)="onSubmit( f )" #f="ngForm">
                        <div class="form-group">
                            <label for="inputProducto">Producto</label>

                            <span *ngIf="f.submitted && f.controls['producto'].errors" class="badge badge-danger animated fadeIn">Producto es obligatorio</span>

                            <input type="text" class="form-control" name="producto" [(ngModel)]="factura.producto" id="inputProducto" required>

                        </div>
                        <div class="form-group">
                            <label for="inputUnidad">Unidades</label>

                            <span *ngIf="f.submitted && f.controls['unidad'].errors" class="badge badge-danger animated fadeIn">Unidad es obligatorio</span>

                            <input type="number" class="form-control" name="unidad" [(ngModel)]="factura.unidades" id="inputUnidad" required>
                        </div>

                        <div class="form-group">
                            <label for="inputKilos">Kilos</label>

                            <span *ngIf="f.submitted && f.controls['kilos'].errors" class="badge badge-danger animated fadeIn">Kilos es obligatorio</span>

                            <input type="number" class="form-control" name="kilos" [(ngModel)]="factura.kilos" id="inputKilos" required>

                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>

                            <span *ngIf="f.submitted && f.controls['precio'].errors" class="badge badge-danger animated fadeIn">Precio es obligatorio</span>

                            <input type="number" class="form-control" name="precio" [(ngModel)]="factura.precio" id="inputPrecio" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripcion</label>

                            <span *ngIf="f.submitted && f.controls['desc'].errors" class="badge badge-danger animated fadeIn">Descripcion es obligatorio</span>

                            <textarea class="form-control" id="inputDescripcion" name="desc" [(ngModel)]="factura.descripcion" rows="3" required></textarea>

                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Estado</label>

                            <span *ngIf="f.submitted && f.controls['estado'].errors" class="badge badge-danger animated fadeIn">Estado es obligatorio</span>

                            <select class="custom-select mr-sm-2" [(ngModel)]="factura.estado" id="cboEstado" name="estado">
                                <option value="nuevo">Nuevo</option>
                                <option value="semi-nuevo">Semi Nuevo</option>
                                <option value="usado">Usado</option>
                              </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!--End Modal-->

    <!-- Modal Modificar-->
    <div class="modal animated bounceInUp" id="ModalUpdate">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Modificar Factura</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">



                </div>

            </div>
        </div>
    </div>
    <!--End Modal-->


</div>