<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form (ngSubmit)="login( f )" #f="ngForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-33">
                    Login
                </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">Correo es obligatorio</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" [(ngModel)]="usuario.email" required placeholder="Email">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Password es obligatorio</span>

                <div class="wrap-input100 rs1 validate-input">
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" required placeholder="Password">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" class="login100-form-btn">
                        Ingresar
                    </button>
                </div>

                <div class="text-center">
                    <span class="txt1">
                        Crear una cuenta?
                    </span>

                    <a [routerLink]="['/registro']" class="txt2 hov1">
                        Registrarse
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>